/*********************************************************************
                        Mobile First Component Styles (< 480px)
********************************************************************/
.cbSlotDefaultItem {
  width: 10%;
  height: 50px;
  margin: 10px;
  float: left;
}
.item-1{
  background: orange;
}
.item-2{
  background: green;
}
.item-3{
  background: blue;
}
.item-4{
  background: black;
}
.item-5{
  background: purple;
}
.item-6{
  background: yellow;
}
/*********************************************************************
                        Small Breakpoint (480px - 599px)
********************************************************************/
@media (min-width: $sm) {

}
/*********************************************************************
                        Medium Breakpoint (600px - 767px)
********************************************************************/
@media (min-width: $md) {

}
/*********************************************************************
                        Large Breakpoint (768px - 999px)
********************************************************************/
@media (min-width: $lg) {

}
/*********************************************************************
                        Extra Large Breakpoint (1000px <)
********************************************************************/
@media (min-width: $xl) {

}